/* Footer */
.footer {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0;
  height: auto;
  background: var(--homeCl);
  font-size: 1.2rem;
}

.footer ul {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}
.footer ul li {
  padding: 0 0.5rem;
  margin: 0;
}

.fa-brands {
  font-size: 2.4rem;
  padding: 0.6rem;
}
.fa-brands:hover {
  font-size: 2.4rem;
  transform: scale(1.2);
  color: var(--homeBkgdCl);
}

.copyright {
  align-self: center;
  padding-right: 1rem;
}
