/* Main */
.main {
  flex: 1 0 auto;
  margin: 0 auto;
  width: 100vw;
  height: calc(100vh - 9.3rem);
  background-color: var(--homeBkgdCl);
  color: var(--homeCl);
  text-align: center;
}

.hero-image {
  padding: 3rem 2rem 2rem 2rem;
}
.hero-image img {
  height: auto;
  width: 200px;
  border-radius: 50%;
  border: 2px solid var(--homeHglCl);
  background-color: var(--white);
}

.main h1 {
  font-weight: 300;
}
.hero-headline {
  margin: 0 auto;
  max-width: 90vw;
  font-size: 8rem;
}

.hero-headline strong {
  color: var(--homeHglCl);
  font-weight: 700;
}

.about {
  padding-top: 2rem;
  background-color: var(--aboutBkgdCl);
  color: var(--white);
}

.about strong {
  color: var(--aboutHglCl);
}
.contact {
  padding-top: 2rem;
  background-color: var(--contactBkgdCl);
  color: var(--white);
}

.contact strong {
  color: var(--contactHglCl);
}

@media (max-width: 425px) {
  .hero-headline {
    font-size: 3.6rem;
  }
}
