/* Navbar */
.navbar {
  background-color: var(--navBkgdClTrn);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  height: auto;
}

.brand {
  padding: 1rem;
  margin: 0;
}

.brand h1 {
  font-weight: 400;
  color: var(--navCl);
  font-size: 2.1rem;
}
.brand-text:hover {
  text-decoration: none;
  color: var(--navHovCl);
}

.brand h1:hover {
  text-decoration: none;
}

.nav-items ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav-items li {
  padding: 1.5rem;
}

.nav-items li:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: var(--navHovCl);
}
.nav-items a {
  background-color: transparent;
  text-decoration: none;
}

.menu-toggle {
  align-self: center;
  font-size: 2rem;
  padding: 1rem;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    width: 100vw;
  }

  .nav-items {
    width: 100vw;
    background: var(navBkgdCl);
    animation: navExpand 1250ms;
  }

  @keyframes navExpand {
    from {
      transform: translate(0, -40px);
      opacity: 0;
    }

    to {
      transform: translate(0, 0);
      opacity: 1;
      height: auto;
    }
  }

  .nav-items ul {
    justify-content: flex-start;
    flex-direction: column;
  }
  .nav-items li {
    justify-content: flex-start;
    border-bottom: 1px black solid;
    margin-bottom: 5px;
  }
  .nav-items li:hover {
    transform: scale(1);
  }
  .nav-items a {
    display: block;
  }
  .menu-toggle {
    right: 10px;
  }
}

@media (min-width: 769px) {
  .nav-items {
    display: initial;
  }
  .menu-toggle {
    display: none;
  }
}

.fa-times {
  animation: easeNavToggle 1s;
  transition: var(--transition);
}

@keyframes easeNavToggle {
  from {
    transform: translate(0, -5px);
  }

  to {
    transform: translate(0, 0);
  }
}
